* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'BlockFont';
    src: url("fonts/BlockFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* STYLE HEADER */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 0 -75px;
    filter: brightness(50%);
}

.centered {
    position: absolute;
    font-family: "BlockFont", sans-serif;
    font-size: 130px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
}

.center-text {
    width: 800px;
    position: absolute;
    font-family: "BlockFont", sans-serif;
    font-size: 30px;
    top: 75%;
    left: 50%;
    transform: translate(-400px, -50%);
    color: white;
}

/* STYLE CANVAS */

canvas {
    background: #eeeeee;
    display: block;
    margin: 0 auto;

}

/* STYLE BUTTONS */
.button-container {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#startButton {
    display: inline-block;
    background-color: green;
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#resetButton {
    display: inline-block;
    background-color: red;
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}


